################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/obj
**/bin
/src/Backend/FinancialManager.Domain/.vs/FinancialManager.Domain
/.idea/*