@page "/authentication/login"

<Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnTablet" Display="Dis">
    <Card Margin="Margin.Is4.OnY" Class="text-center">
        <CardHeader Class="text-center">
            <CardTitle>Financial Manager</CardTitle>
        </CardHeader>
        <CardBody>
            <Validations @ref="Validations" Mode="ValidationMode.Manual" Model="@_loginRequest" ValidateOnLoad="false">
                <Validation>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Username</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                            <TextEdit Role="TextRole.Email" @bind-Text="_loginRequest.Email" Placeholder="Enter email">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Password</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                            <TextEdit Role="TextRole.Password" @bind-Text="_loginRequest.Password" Placeholder="Enter email">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
            </Validations>
            <Field Horizontal="true" JustifyContent="JustifyContent.End">
                <FieldBody ColumnSize="ColumnSize.Is10.Is2.WithOffset">
                    <Button Type="ButtonType.Submit"
                            Color="Color.Primary"
                            Loading="_showLoading"
                            Clicked="@SubmitLogin">
                        Login
                    </Button>
                </FieldBody>
            </Field>
        </CardBody>
    </Card>
</Column>