@page "/authentication/login"

<h1>Financial Manager</h1>

<EditForm Model="@_loginRequest">
    <DataAnnotationsValidator />
    <Fields>
        <Field ColumnSize="ColumnSize.Is6">
            <Validations Mode="ValidationMode.Auto" Model="@_loginRequest" ValidateOnLoad="false">
                <Validation>
                    <TextEdit Role="TextRole.Email" @bind-Text="_loginRequest.Email" Placeholder="Enter email">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Validation>
                <Validation>
                    <TextEdit Role="TextRole.Password" @bind-Text="_loginRequest.Password">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Validations>
        </Field>
    </Fields>
    <Button Type="ButtonType.Submit"
            Color="Color.Primary"
            Loading="_showLoading"
            Clicked="SubmitLogin">
        Login
    </Button>
</EditForm>