@page "/authentication/login"

<h1>Financial Manager</h1>

<EditForm Model="@_loginRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <InputText type="email" @bind-Value="_loginRequest.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText type="password" @bind-Value="_loginRequest.Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>